<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="log.dir" value="${catalina.base}/logs/agentdemo" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${log.dir}/agentdemo.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
             <fileNamePattern>${log.dir}/agentdemo.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>  
             <maxHistory>10</maxHistory>         
        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
             <maxFileSize>50MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>  
        </rollingPolicy> 
        <encoder>  
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%-20method] [%msg] [%thread] [%file:%line]%n</pattern>  
        </encoder>  
    </appender>
    
    <logger name="com.huawei.agentdemo" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    
    <logger name="com.huawei.demo" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    
  
</configuration>